.todo-item-container {
  background: #fff;
  position: relative;
  margin-top: 8px;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px grey;
}

.buttons-container {
  position: absolute;
  right: 12px;
  bottom: 12px;
}

button {
  font-size: 14px;
  padding: 8px;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
}

.completed-button {
  display: inline-block;
  background-color: lime;
}

.removed-button {
  display: inline-block;
  background-color: red;
  margin-left: 8px;
}